*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
.bg-sidebar-color{
  background-color: #F8F9FA!important;
}
.text-size-20{
  font-size: 20px;
}
.nav-pills .nav-link.active{
  background-color: #2BB3D0;
}
.width-280{
  width: 280px;
}
.h-100vh{
  height: 100vh;
}
.pointer{
  cursor: pointer;
}
.custom-padding{
  padding: 32px 32px;
}
.text-32{
  font-size: 32px;
}
.label-text{
  font-size: 24px;
}
.custom-margin{
  margin-top: 35px;
}
.text-24{
  font-size: 21px;
}
.custom-field-bg-color{
  background-color: #F0EDED;
  border: none;
  border-radius: 5px;
}
.btn-color{
  background-color: #2BB3D0;
  color: white;
  font-size: 21px;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.err-state{
  color: red;
}
.task-name{
  font-size: 24px;
}
.priority{
  background-color: #F5F5F7;
  border-radius: 10px;
  color: #000;
  text-align: center;
  padding: 5px;
  min-width: 70px;
  max-height: 114px;
  width: 80px;
  font-size: 16px;
  font-weight: 500;
}
.f-20{
  font-size: 18px;
  font-weight: 600;
}
.task-card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 10px 10px;
  color: #fff;
  background-color: #0567cfab;
}
.custom-margin-bottom{
  margin-bottom: 5px!important;
}
.custom-spacing{
  right: 0;
}
.pointer{
  cursor: pointer;
}